<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <h1 class="text-center border-bottom">Lista de usuarios</h1>
            <div class="col">
                <div class="col-md-3 mb-2">
                    <a href="/registro-usuario" class="btn btn-sm btn-primary">Nuevo usuario </a>
                    <a href="/" class="btn btn-info text-light">Inicio</a>
                    
                </div>
                <table class="table">
                    <thead>
                        
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="usersList">
                        <% users.forEach(function(user){ %>
                            <tr>
                                <td> <!-- Cambié "th" a "td" -->
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.firstName %>
                                </td>
                                <td>
                                    <%= user.lastName %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" data-id="<%= user.id %>"
                                        onclick="eliminarReserva(event)">Eliminar</button> <!-- Corregí el botón eliminar -->
                                    <a href="<%= `/ver-usuario/${user.id}` %>"></a>
                                    <a href="<%= `/editar-usuario/${user.id}` %>" class="btn btn-warning">Editar</a>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" data-id="<%= user.id %>" onclick="eliminarReserva(event)">Eliminar</button>
                                    <a href="/ver-usuario/<%= user.id %>" class="btn btn-info">Ver</a>
                                    <a href="/editar-usuario/<%= user.id %>" class="btn btn-warning">Editar</a>
                                    <a href="#" class="btn btn-warning" onclick="editarUsuario( user.id )">Editar</a>

                                </td>
                                
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
